<div class="col-md-9">
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div>        
        {{#if (eq applicationController.currentUser.role 'lecturer')}}
          {{#if (eq applicationController.currentUser.id model.user.id)}}
          <div class="btn-group pull-right" >
            <button class="btn btn-default" data-toggle="modal" data-target="#editCourseModal">Редактировать курс</button>
            <button class="btn btn-default" data-toggle="modal" data-target="#editTopicModal">Редактировать тему</button>
          </div>
          {{/if}}
        {{else if (eq applicationController.currentUser.role 'admin')}}
          <div class="btn-group pull-right" >
            <button class="btn btn-default" data-toggle="modal" data-target="#editCourseModal">Редактировать курс</button>
            <button class="btn btn-default" data-toggle="modal" data-target="#editTopicModal">Редактировать тему</button>
          </div>
        {{/if}}
        <h3>{{model.title}}</h3>
      </div>
      <p>{{model.description}}</p>
      <br>
      <div class="btn-group">
        <button class="btn btn-default" {{action 'requestFile' 'html' showCallback}}>Открыть HTML</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#typeDownload">Скачать</button>
        {{#if (eq applicationController.currentUser.role 'lecturer')}}
          {{#if (eq applicationController.currentUser.id model.user.id)}}
            {{#link-to 'editor' model tagName='button' class="btn btn-default"}}Редактировать документ{{/link-to}}
          {{/if}}
        {{else if (eq applicationController.currentUser.role 'admin')}}
          {{#link-to 'editor' model tagName='button' class="btn btn-default"}}Редактировать документ{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
  <div id="showHtmlPanel" class="panel panel-default hidden">
    <div class="panel-body">
      <div id="includedContent"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="typeDownload" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Выберите формат</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="#" class="list-group-item" {{action 'requestFile' 'latex' downloadCallback}}>LaTex</a>
          <a href="#" class="list-group-item" {{action 'requestFile' 'pdf' downloadCallback}}>PDF</a>
          <a href="#" class="list-group-item" {{action 'requestFile' 'docx' downloadCallback}}>DOCX</a>
          <a href="#" class="list-group-item" {{action 'requestFile' 'rtf' downloadCallback}}>RTF</a>
          <a href="#" class="list-group-item" {{action 'requestFile' 'odc' downloadCallback}}>ODC</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper hidden">
    <svg class="hourglass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 206" preserveAspectRatio="none">
        <path class="middle" d="M120 0H0v206h120V0zM77.1 133.2C87.5 140.9 92 145 92 152.6V178H28v-25.4c0-7.6 4.5-11.7 14.9-19.4 6-4.5 13-9.6 17.1-17 4.1 7.4 11.1 12.6 17.1 17zM60 89.7c-4.1-7.3-11.1-12.5-17.1-17C32.5 65.1 28 61 28 53.4V28h64v25.4c0 7.6-4.5 11.7-14.9 19.4-6 4.4-13 9.6-17.1 16.9z"/>
        <path class="outer" d="M93.7 95.3c10.5-7.7 26.3-19.4 26.3-41.9V0H0v53.4c0 22.5 15.8 34.2 26.3 41.9 3 2.2 7.9 5.8 9 7.7-1.1 1.9-6 5.5-9 7.7C15.8 118.4 0 130.1 0 152.6V206h120v-53.4c0-22.5-15.8-34.2-26.3-41.9-3-2.2-7.9-5.8-9-7.7 1.1-2 6-5.5 9-7.7zM70.6 103c0 18 35.4 21.8 35.4 49.6V192H14v-39.4c0-27.9 35.4-31.6 35.4-49.6S14 81.2 14 53.4V14h92v39.4C106 81.2 70.6 85 70.6 103z"/>
    </svg>
</div>

<div class="modal fade" id="editCourseModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Редактирование курса {{model.topic.course.title}}</h4>
      </div>
      <div class="modal-body">
        <form id="editCourseForm" {{action 'editCourse' model.topic.course on="submit"}}>
          <div class="form-group">
            <label for="editCourseTitle">Название курса</label>
            <input class="form-control" id="editCourseTitle" placeholder="Название курса" required value={{model.topic.course.title}}>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" {{action 'deleteCourse' model.topic.course}} class="btn btn-danger">Удалить курс {{model.topic.course.title}}</button>
        <button type="submit" form="editCourseForm" class="btn btn-success">Сохранить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editTopicModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Редактирование темы {{model.topic.title}}</h4>
      </div>
      <div class="modal-body">
        <form id="editTopicForm" {{action 'editTopic' model.topic on="submit"}}>
          <div class="form-group">
            <label for="editTopicTitle">Название темы</label>
            <input class="form-control" id="editTopicTitle" placeholder="Название темы" required value={{model.topic.title}}>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" {{action 'deleteTopic' model.topic}} class="btn btn-danger">Удалить тему {{model.topic.title}}</button>
        <button type="submit" form="editTopicForm" class="btn btn-success">Сохранить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>